.input-submit{
    border: none;
    width: 293px;
    height: 37px;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    margin-left: -60px;
    width:106px;
    height:39px;
    padding: 4px;
    background: #FF8800 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    color:#FFFFFF;
}